@use "../../scss/" as *;

.banner {
  height: 50vh;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    @include overlay();
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-image: linear-gradient(to top, $body-bg, rgba($black, 0));
  }
}

.movie-content {
  @include flex(flex-start, flex-start);
  max-width: 1260px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -300px;
  position: relative;
  padding: 0 2rem;

  &__poster {
    flex: 1;

    @include mobile {
      display: none;
    }

    &__img {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: $border-radius;
      padding-top: 165%;
    }
  }

  &__info {
    width: 70%;
    padding-left: 2rem;
    position: relative;

    @include mobile {
      width: 100%;
      padding-left: 0;
    }

    & > * {
      margin-bottom: 2rem;
    }

    .title {
      font-size: 4rem;
      line-height: 1;
    }

    .genres {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-wrap: wrap;
      }
      & > * ~ * {
        margin-left: 0.5rem;
      }

      &__item {
        padding: 0.5rem 1.5rem;
        border: 2px solid $white;
        border-radius: $border-radius;
        @media screen and (max-width: 768px) {
          margin: 2px;
        }
        font-size: 0.8rem;
        font-weight: 600;
        background-color: $body-bg;
      }
      .year__item {
        background-color: #2e333667;
        border-radius: $border-radius;
        margin-left: 10px;
        @media screen and (max-width: 768px) {
          display: flex;
          align-items: center;
        }
      }
    }
    .cast {
      font-family: "Montserrat", helvetica, arial, sans-serif;
      font-size: 16px;
      line-height: 2.2;
      font-weight: 400;
      padding: 0.5rem;
      border-radius: 0.5rem;
      width: 70%;
      height: 70%;

      background-color: hsl(213, 19%, 18%);
      background-image: linear-gradient(
        180deg,
        hsl(213, 19%, 18%),
        hsl(216, 12%, 10%)
      );

      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
    .overview {
      background: linear-gradient(
        to right,
        #2e3336 0%,
        #564b7c89 51%,
        #2e2e2e 100%
      );
      padding: 0.5rem;
      border-radius: 0.2rem;
      margin-bottom: 1.2rem;
    }
    .colon {
      padding: 10px;
    }
    .ratings {
      padding: 0.5rem;
      border-radius: 1rem;
      width: 35%;
    }
  }
}

.loader {
  height: 100px;
  width: 100%;
  flex-direction: column;
  display: flex !important;
  justify-content: center;
  align-items: center;
}
